vti_encoding:SR|utf8-nl
/c\:/windows/temp/msoclip1/01/clip_image023.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/02/clip_image001.png:setevoe.htm
/c\:/windows/temp/msoclip1/01/clip_image013.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image021.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image007.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image015.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image039.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image041.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image003.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image005.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image037.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image035.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image027.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image029.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image031.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image001.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image033.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image025.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image017.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image019.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image011.png:tehnicheskoe.htm
/c\:/windows/temp/msoclip1/01/clip_image009.png:tehnicheskoe.htm
